body {
    background: #0d0d0d;
    color: #e0e0e0;
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    border: 1px solid #222;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 1100px;
    background: #121212;
}

th {
    background: #1c1c1c;
    color: #fff;
    padding: 10px;
    border-bottom: 2px solid #333;
    font-weight: bold;
}

td {
    padding: 8px 10px;
    text-align: center;
    border-bottom: 1px solid #222;
    color: #ddd;
}

tr:hover {
    background: #1a1a1a;
}

img.icon {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    object-fit: cover;
}

input[type="checkbox"] {
    transform: scale(1.3);
}

button.reset-btn,
button.reset-global {
    background: #333;
    color: #ddd;
    padding: 4px 8px;
    border: 1px solid #444;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #444;
}

button:active {
    opacity: 0.7;
}

.global-reset {
    text-align: center;
    margin-bottom: 15px;
}

.floor-selector {
    text-align: center;
    margin-bottom: 15px;
}

.void-input {
    width: 55px;
    padding: 4px;
    background: #1d1d1d;
    color: #fff;
    border: 1px solid #333;
    text-align: center;
    border-radius: 4px;
}

.drag-handle-cell {
    width: 30px;
}

.drag-handle {
    cursor: grab;
    user-select: none;
    font-size: 22px;
    color: #bbb;
    display: inline-block;
    padding: 4px;
}

.drag-handle:active {
    cursor: grabbing;
}

.dragging {
    opacity: 0.35;
}

.orderSelect {
    color: red;
}

.table-controls {
    margin-bottom: 10px;
    text-align: center;
}

#voidSelect, #sortBtn, #orderSelect, #resetOrderBtn {
     background: #333;
    color: #ddd;
    padding: 4px 8px;
    border: 1px solid #444;
    border-radius: 4px;
    cursor: pointer;
}

.select1 {
    font-weight: bold;
}